<link rel="stylesheet" href="../css/footer.min.css">
<div class="footer">
    <a href="/regulations">Regulamin</a>
    <a href="/policy">Polityka prywatności</a>
    <a href="/cookies">Ustawienia plików cookie</a>
</div>
