<link rel="stylesheet" href="../css/global-style.min.css" />
<link rel="stylesheet" href="../css/header.min.css" />
<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

  .hidden {
    display: none;
  }

  #dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 200px;
  }

  #dropdown-menu li {
    padding: 10px;
  }

  #dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
  }

  #dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
</style>
<div class="header">
  <div class="logo">
    <a href="/" aria-label="Wróć do strony głownej">
        <svg
        width="137"
        height="96"
        viewBox="0 0 137 96"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.5568 36V12.7273H22.8523C24.6629 12.7273 26.1629 13.0568 27.3523 13.7159C28.5417 14.375 29.4318 15.2765 30.0227 16.4205C30.6136 17.5568 30.9091 18.8371 30.9091 20.2614C30.9091 21.6932 30.6098 22.9811 30.0114 24.125C29.4205 25.2614 28.5265 26.1629 27.3295 26.8295C26.1402 27.4886 24.6439 27.8182 22.8409 27.8182H17.1364V24.8409H22.5227C23.6667 24.8409 24.5947 24.6439 25.3068 24.25C26.0189 23.8485 26.5417 23.303 26.875 22.6136C27.2083 21.9242 27.375 21.1402 27.375 20.2614C27.375 19.3826 27.2083 18.6023 26.875 17.9205C26.5417 17.2386 26.0152 16.7045 25.2955 16.3182C24.5833 15.9318 23.6439 15.7386 22.4773 15.7386H18.0682V36H14.5568ZM42.0568 36.3523C40.3371 36.3523 38.8561 35.9848 37.6136 35.25C36.3788 34.5076 35.4242 33.4659 34.75 32.125C34.0833 30.7765 33.75 29.197 33.75 27.3864C33.75 25.5985 34.0833 24.0227 34.75 22.6591C35.4242 21.2955 36.3636 20.2311 37.5682 19.4659C38.7803 18.7008 40.197 18.3182 41.8182 18.3182C42.803 18.3182 43.7576 18.4811 44.6818 18.8068C45.6061 19.1326 46.4356 19.6439 47.1705 20.3409C47.9053 21.0379 48.4848 21.9432 48.9091 23.0568C49.3333 24.1629 49.5455 25.5076 49.5455 27.0909V28.2955H35.6705V25.75H46.2159C46.2159 24.8561 46.0341 24.0644 45.6705 23.375C45.3068 22.678 44.7955 22.1288 44.1364 21.7273C43.4848 21.3258 42.7197 21.125 41.8409 21.125C40.8864 21.125 40.053 21.3598 39.3409 21.8295C38.6364 22.2917 38.0909 22.8977 37.7045 23.6477C37.3258 24.3902 37.1364 25.197 37.1364 26.0682V28.0568C37.1364 29.2235 37.3409 30.2159 37.75 31.0341C38.1667 31.8523 38.7462 32.4773 39.4886 32.9091C40.2311 33.3333 41.0985 33.5455 42.0909 33.5455C42.7348 33.5455 43.322 33.4545 43.8523 33.2727C44.3826 33.0833 44.8409 32.803 45.2273 32.4318C45.6136 32.0606 45.9091 31.6023 46.1136 31.0568L49.3295 31.6364C49.072 32.5833 48.6098 33.4129 47.9432 34.125C47.2841 34.8295 46.4545 35.3788 45.4545 35.7727C44.4621 36.1591 43.3295 36.3523 42.0568 36.3523ZM53.3153 36V18.5455H56.5994V21.3182H56.7812C57.0994 20.3788 57.66 19.6402 58.4631 19.1023C59.2737 18.5568 60.1903 18.2841 61.2131 18.2841C61.4252 18.2841 61.6752 18.2917 61.9631 18.3068C62.2585 18.322 62.4896 18.3409 62.6562 18.3636V21.6136C62.5199 21.5758 62.2775 21.5341 61.929 21.4886C61.5805 21.4356 61.232 21.4091 60.8835 21.4091C60.0805 21.4091 59.3646 21.5795 58.7358 21.9205C58.1146 22.2538 57.6222 22.7197 57.2585 23.3182C56.8949 23.9091 56.7131 24.5833 56.7131 25.3409V36H53.3153ZM74.9347 18.5455V21.2727H65.071V18.5455H74.9347ZM67.7756 36V16.5227C67.7756 15.4318 68.0142 14.5265 68.4915 13.8068C68.9688 13.0795 69.6013 12.5379 70.3892 12.1818C71.1771 11.8182 72.0331 11.6364 72.9574 11.6364C73.6392 11.6364 74.2225 11.6932 74.7074 11.8068C75.1922 11.9129 75.5521 12.0114 75.7869 12.1023L74.9915 14.8523C74.8324 14.8068 74.6278 14.7538 74.3778 14.6932C74.1278 14.625 73.8248 14.5909 73.4688 14.5909C72.643 14.5909 72.0521 14.7955 71.696 15.2045C71.3475 15.6136 71.1733 16.2045 71.1733 16.9773V36H67.7756ZM85.2756 36.3523C83.5559 36.3523 82.0748 35.9848 80.8324 35.25C79.5975 34.5076 78.643 33.4659 77.9688 32.125C77.3021 30.7765 76.9688 29.197 76.9688 27.3864C76.9688 25.5985 77.3021 24.0227 77.9688 22.6591C78.643 21.2955 79.5824 20.2311 80.7869 19.4659C81.9991 18.7008 83.4157 18.3182 85.0369 18.3182C86.0218 18.3182 86.9763 18.4811 87.9006 18.8068C88.8248 19.1326 89.6544 19.6439 90.3892 20.3409C91.1241 21.0379 91.7036 21.9432 92.1278 23.0568C92.5521 24.1629 92.7642 25.5076 92.7642 27.0909V28.2955H78.8892V25.75H89.4347C89.4347 24.8561 89.2528 24.0644 88.8892 23.375C88.5256 22.678 88.0142 22.1288 87.3551 21.7273C86.7036 21.3258 85.9384 21.125 85.0597 21.125C84.1051 21.125 83.2718 21.3598 82.5597 21.8295C81.8551 22.2917 81.3097 22.8977 80.9233 23.6477C80.5445 24.3902 80.3551 25.197 80.3551 26.0682V28.0568C80.3551 29.2235 80.5597 30.2159 80.9688 31.0341C81.3854 31.8523 81.965 32.4773 82.7074 32.9091C83.4498 33.3333 84.3172 33.5455 85.3097 33.5455C85.9536 33.5455 86.5407 33.4545 87.071 33.2727C87.6013 33.0833 88.0597 32.803 88.446 32.4318C88.8324 32.0606 89.1278 31.6023 89.3324 31.0568L92.5483 31.6364C92.2907 32.5833 91.8286 33.4129 91.1619 34.125C90.5028 34.8295 89.6733 35.3788 88.6733 35.7727C87.6809 36.1591 86.5483 36.3523 85.2756 36.3523ZM103.886 36.3523C102.197 36.3523 100.742 35.9697 99.5227 35.2045C98.3106 34.4318 97.3788 33.3674 96.7273 32.0114C96.0758 30.6553 95.75 29.1023 95.75 27.3523C95.75 25.5795 96.0833 24.0152 96.75 22.6591C97.4167 21.2955 98.3561 20.2311 99.5682 19.4659C100.78 18.7008 102.208 18.3182 103.852 18.3182C105.178 18.3182 106.36 18.5644 107.398 19.0568C108.436 19.5417 109.273 20.2235 109.909 21.1023C110.553 21.9811 110.936 23.0076 111.057 24.1818H107.75C107.568 23.3636 107.152 22.6591 106.5 22.0682C105.856 21.4773 104.992 21.1818 103.909 21.1818C102.962 21.1818 102.133 21.4318 101.42 21.9318C100.716 22.4242 100.167 23.1288 99.7727 24.0455C99.3788 24.9545 99.1818 26.0303 99.1818 27.2727C99.1818 28.5455 99.375 29.6439 99.7614 30.5682C100.148 31.4924 100.693 32.2083 101.398 32.7159C102.11 33.2235 102.947 33.4773 103.909 33.4773C104.553 33.4773 105.136 33.3598 105.659 33.125C106.189 32.8826 106.633 32.5379 106.989 32.0909C107.352 31.6439 107.606 31.1061 107.75 30.4773H111.057C110.936 31.6061 110.568 32.6136 109.955 33.5C109.341 34.3864 108.519 35.0833 107.489 35.5909C106.466 36.0985 105.265 36.3523 103.886 36.3523ZM122.838 18.5455V21.2727H113.304V18.5455H122.838ZM115.861 14.3636H119.259V30.875C119.259 31.5341 119.357 32.0303 119.554 32.3636C119.751 32.6894 120.005 32.9129 120.315 33.0341C120.634 33.1477 120.978 33.2045 121.349 33.2045C121.622 33.2045 121.861 33.1856 122.065 33.1477C122.27 33.1098 122.429 33.0795 122.543 33.0568L123.156 35.8636C122.959 35.9394 122.679 36.0152 122.315 36.0909C121.952 36.1742 121.497 36.2197 120.952 36.2273C120.058 36.2424 119.224 36.0833 118.452 35.75C117.679 35.4167 117.054 34.9015 116.577 34.2045C116.099 33.5076 115.861 32.6326 115.861 31.5795V14.3636Z"
          fill="black"
        />
        <path
         d="M30.3902 46.7451L26.8019 54.7141L32.9999 71.2548M32.9999 71.2548L39.3611 54.5742L35.9359 46.7451M32.9999 71.2548L16.2 54.8539M32.9999 71.2548L49.7999 54.8539M16.2 54.8539L23.3766 46.7451H42.7864L49.7999 54.8539M16.2 54.8539H49.7999" 
         stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        
        />
        <path
          d="M56.5568 70.5V47.2273H60.0682V67.4773H70.6136V70.5H56.5568ZM81.6989 70.8523C80.0625 70.8523 78.6345 70.4773 77.4148 69.7273C76.1951 68.9773 75.2481 67.928 74.5739 66.5795C73.8996 65.2311 73.5625 63.6553 73.5625 61.8523C73.5625 60.0417 73.8996 58.4583 74.5739 57.1023C75.2481 55.7462 76.1951 54.6932 77.4148 53.9432C78.6345 53.1932 80.0625 52.8182 81.6989 52.8182C83.3352 52.8182 84.7633 53.1932 85.983 53.9432C87.2027 54.6932 88.1496 55.7462 88.8239 57.1023C89.4981 58.4583 89.8352 60.0417 89.8352 61.8523C89.8352 63.6553 89.4981 65.2311 88.8239 66.5795C88.1496 67.928 87.2027 68.9773 85.983 69.7273C84.7633 70.4773 83.3352 70.8523 81.6989 70.8523ZM81.7102 68C82.7708 68 83.6496 67.7197 84.3466 67.1591C85.0436 66.5985 85.5587 65.8523 85.892 64.9205C86.233 63.9886 86.4034 62.9621 86.4034 61.8409C86.4034 60.7273 86.233 59.7045 85.892 58.7727C85.5587 57.8333 85.0436 57.0795 84.3466 56.5114C83.6496 55.9432 82.7708 55.6591 81.7102 55.6591C80.642 55.6591 79.7557 55.9432 79.0511 56.5114C78.3542 57.0795 77.8352 57.8333 77.4943 58.7727C77.161 59.7045 76.9943 60.7273 76.9943 61.8409C76.9943 62.9621 77.161 63.9886 77.4943 64.9205C77.8352 65.8523 78.3542 66.5985 79.0511 67.1591C79.7557 67.7197 80.642 68 81.7102 68ZM100.98 70.8523C99.3438 70.8523 97.9157 70.4773 96.696 69.7273C95.4763 68.9773 94.5294 67.928 93.8551 66.5795C93.1809 65.2311 92.8438 63.6553 92.8438 61.8523C92.8438 60.0417 93.1809 58.4583 93.8551 57.1023C94.5294 55.7462 95.4763 54.6932 96.696 53.9432C97.9157 53.1932 99.3438 52.8182 100.98 52.8182C102.616 52.8182 104.045 53.1932 105.264 53.9432C106.484 54.6932 107.431 55.7462 108.105 57.1023C108.779 58.4583 109.116 60.0417 109.116 61.8523C109.116 63.6553 108.779 65.2311 108.105 66.5795C107.431 67.928 106.484 68.9773 105.264 69.7273C104.045 70.4773 102.616 70.8523 100.98 70.8523ZM100.991 68C102.052 68 102.931 67.7197 103.628 67.1591C104.325 66.5985 104.84 65.8523 105.173 64.9205C105.514 63.9886 105.685 62.9621 105.685 61.8409C105.685 60.7273 105.514 59.7045 105.173 58.7727C104.84 57.8333 104.325 57.0795 103.628 56.5114C102.931 55.9432 102.052 55.6591 100.991 55.6591C99.9233 55.6591 99.0369 55.9432 98.3324 56.5114C97.6354 57.0795 97.1165 57.8333 96.7756 58.7727C96.4422 59.7045 96.2756 60.7273 96.2756 61.8409C96.2756 62.9621 96.4422 63.9886 96.7756 64.9205C97.1165 65.8523 97.6354 66.5985 98.3324 67.1591C99.0369 67.7197 99.9233 68 100.991 68ZM116.034 64.5795L116.011 60.4318H116.602L123.557 53.0455H127.625L119.693 61.4545H119.159L116.034 64.5795ZM112.909 70.5V47.2273H116.307V70.5H112.909ZM123.932 70.5L117.682 62.2045L120.023 59.8295L128.102 70.5H123.932Z" 
          fill="black"
        />
      </svg></a>
      <svg width="147" height="96" viewBox="0 0 147 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </a>
  </div>
  <div class="links medium-text">
    <a href="/" aria-label="Wróc do strony głownej">Strona główna</a>
    <a href="/store" aria-label="Wyswietl Sklep">Sklep</a>

    <a href="/cart" aria-label="Wyswietl Koszyk">
        <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.66663 6H7.22511C7.92083 6 8.26869 6 8.53058 6.18876C8.79246 6.37752 8.90247 6.70753 9.12247 7.36754L9.99996 10"
          stroke="black"
          stroke-width="3"
          stroke-linecap="round"
        />
        <path
          d="M23.3333 23.3333H10.7345C10.1233 23.3333 9.81775 23.3333 9.60644 23.2276C9.31329 23.0808 9.11067 22.7997 9.06417 22.4752C9.03064 22.2413 9.12728 21.9514 9.32055 21.3716V21.3716C9.53467 20.7292 9.64173 20.408 9.82312 20.1582C10.0746 19.812 10.4304 19.5555 10.8384 19.4264C11.1328 19.3333 11.4713 19.3333 12.1485 19.3333H19.3333"
          stroke="black"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M19.6787 19.3333H13.971C12.6917 19.3333 12.0521 19.3333 11.5512 19.003C11.0502 18.6727 10.7983 18.0848 10.2944 16.909L9.12556 14.1818C8.31606 12.2929 7.91131 11.3485 8.35592 10.6743C8.80053 10 9.82802 10 11.883 10H22.1638C24.4629 10 25.6124 10 26.046 10.7471C26.4795 11.4942 25.9092 12.4923 24.7686 14.4884L23.1517 17.3179C22.5898 18.3013 22.3088 18.793 21.8432 19.0632C21.3777 19.3333 20.8114 19.3333 19.6787 19.3333Z"
          stroke="black"
          stroke-width="3"
          stroke-linecap="round"
        />
        <circle cx="22.6667" cy="26.6667" r="1.33333" fill="black" />
        <circle cx="12" cy="26.6667" r="1.33333" fill="black" />
      </svg>
    </a>
    <div class="dropdown-container">
      <a href="#" id="login-icon" aria-label="Login">
        <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26.3033 27.2628C25.6955 25.5617 24.3564 24.0586 22.4935 22.9865C20.6306 21.9144 18.3481 21.3333 16 21.3333C13.6519 21.3333 11.3695 21.9144 9.50659 22.9865C7.64372 24.0586 6.30457 25.5617 5.69683 27.2628"
          stroke="#33363F"
          stroke-width="3"
          stroke-linecap="round"
        />
        <circle
          cx="16"
          cy="10.6667"
          r="5.33333"
          stroke="#33363F"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
      </a>
      <ul id="dropdown-menu" class="hidden">
        <% if (session.user && session.user.permission === 'admin') { %>
          <li><a href='/admin-options'>Opcje administratora</a></li>
        <% } %>
        <% if (session.user) { %>
          <li><a href="/my-orders" aria-label="Moje Zamówienia">Moje Zamówienia </a></li>
          <li><a href="/logout" aria-label="Wyloguj">Wyloguj</a></li>
        <% } else { %>
          <li><a href="/login" aria-label="Zaloguj się">Zaloguj się</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<script>
  fetch('/session-status', {
      method: 'GET',
      credentials: 'include'
    }).then(response => response.json())
      .then(data => {
        if (data.loggedIn) {
          document.getElementById('logout-link').style.display = 'block';
        } else {
          document.getElementById('logout-link').style.display = 'none';
        }
      });
</script>
<script src="/js/list.js" defer></script>


