html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.text-dots-container {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
}

.text-container {
  flex: 1;
}

.text-container h1 {
  margin: 0 0 10px 0;
}

.button-container {
  margin-top: 20px;
}

#serviceButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dots-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-start;
  margin-top: 50px;
}

.dot {
    height: 30px;
    width: 30px;
    margin: 5px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
