<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/services.css" />
    <title>Perfect Size - serwis</title>
</head>
<body>
    <%- include('components/header.ejs') %>
    <div class="content-wrapper">
        <div class="image-container">
            <img src="/img/svg/serwis.png" alt="Workshop Image" id="mainImage"/>
        </div>
        <div class="text-dots-container">
            <div class="text-container">
                <h1 id="title">Projektowanie Mebli</h1>
                <p id="description" class="medium-text">
                    Firma Perfect Size oferuje kompleksowe usługi projektowania mebli.<br>
                    Nasza oferta obejmuje projektowanie mebli na wymiar, projektowanie mebli kuchennych, salonowych i biurowych,
                    konsultacje i doradztwo w zakresie doboru materiałów i wykończeń,
                    tworzenie wizualizacji 3D oraz personalizację projektów zgodnie z wymaganiami klienta.
                    Zapewniamy profesjonalne podejście oraz indywidualne rozwiązania, które spełnią oczekiwania nawet najbardziej wymagających klientów.
                </p>
                <div class="button-container" id="buttonContainer" style="display: none;">
                    <button type="button" id="serviceButton">Zaprojektuj mebel</button>
                </div>
            </div>
            <div class="dots-container">
                <span class="dot" onclick="changeContent(0)"></span>
                <span class="dot" onclick="changeContent(1)"></span>
                <span class="dot" onclick="changeContent(2)"></span>
            </div>
        </div>
    </div>   
    <%- include('components/footer.ejs') %>
    <script src="js/services.js"></script>
    <script>
        document.getElementById('serviceButton').addEventListener('click', function() {
            window.location.href = '/creator';
        });
    </script>
</body>
</html>
